<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>StaticLayout</h1>
        @RenderSection("Header", required: false)
    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
