<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formularz z plikiem</title>
  </head>
  <body>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <label>Wybierz plik:</label>
      <input type="file" name="fileToUpload" id="fileToUpload" />
      <br />
      <input type="submit" value="Wyślij plik" />
    </form>
  </body>
</html>
