<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-xl-6 offset-xl-3">
      <div class="card flex-fill shadow-sm px-5">
        <div class="card-body text-center">
          <h1 class="card-title my-4 h2">Login</h1>
          <form action="/login" method="post" class="mx-5">
            <input
              type="text"
              id="email"
              name="email"
              class="form-control my-2"
              placeholder="email"
              required
            />
            <input
              type="password"
              id="password"
              name="password"
              class="form-control my-2"
              placeholder="password"
              required
            />
            <% if (msg) { %>
            <div class="alert alert-danger">
              <p><%= msg %></p>
            </div>
            <% } %>
            <button type="submit" class="btn btn-outline-primary my-2">
              Login
            </button>
          </form>

          <div class="card-text my-3">
            <p>
              Haven't signed yet?
              <a class="text-decoration-none mx-2" href="/register">Sign Up</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
